* {
    background-color: #FDFBD4;
    font-family: verdana, tahoma, arial;
    box-sizing: border-box;
}

.header {
    border: 1px solid orange;

}

ul {
  display: flex;
  list-style-type: none; /* Entfernt Bullets */
  padding: 0;
  margin: 0;
  gap: 20px; /* Abstand zwischen den Elementen */
  border: 1px solid green;
}