* {
    background-color: #FDFBD4;
    font-family: verdana, tahoma, arial;
    box-sizing: border-box;
}

.header {
    border: 1px solid #b37e2e;
    text-align: center ;
    color: #614419;
}

.list {
    display: flex;
    list-style-type: none; /* Entfernt Bullets */
    gap: 20px; /* Abstand zwischen den Elementen */
    border: 2px solid #b37e2e ;
    padding: 40px ;
    margin: 10px ;
    background-color: #DB9A39
}

.listitem {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    text-align: center ;
}

a {
    color: #614419; /* Ändert alle Links zu ... */
    text-decoration: none; /* Entfernt den Unterstrich (optional) */
    a:visited { color: #ffb343; }
    
 
}