* {
    background-color: #FDFBD4;
    font-family: verdana, tahoma, arial;
    box-sizing: border-box;
}

.header {
    border: 1px solid #b37e2e;
    text-align: center ;
    

}

ul {
  display: flex;
  list-style-type: none; /* Entfernt Bullets */
  padding: o;
  margin: 0;
  gap: 20px; /* Abstand zwischen den Elementen */
  border: 1px solid green
;}

.lasagna {
border: #b37e2e;}

.germanrouladen {
    border: #b37e2e;
}

.blueberrymuffins {
    border: #b37e2e;
}

.list {
    border: 2px solid #b37e2e ;
    padding: 20px ;
    margin: 100px ;
    background-color: #DB9A39
}

a {
    color: #b37e2e; /* Ändert alle Links zu ... */
    text-decoration: none; /* Entfernt den Unterstrich (optional) */
    a:visited { color: #ffb343; }
    
 

}